/* ESTILO DE FUENTE IMPORTADA */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,500&display=swap');

body{
   margin: 0;
    padding: 0;
    font-family: 'Open Sans'; 
} 

.navegacion{
    width: 450px;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    margin: -10px 0 0px 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 10px;
    right: 0px;
    border-radius: 10px;
}


.navegacion ul {
    list-style: none;
}

.servicio > li {
    position: relative;
    display: inline-block;

}

.servicio > li > a{
    cursor: pointer;
    display: block;
    padding: 0px 34px;
    text-decoration: none;
    color: #fff;
}

.servicio li a:hover{
    color: #000000;
    transition: all .5s;
}
.submenu{
    position: absolute;
    background: #3838387e;
    width: 140%;
    z-index: 1;
    padding: 0;
    height: 150px;
    justify-content: center;
    top: 20px;
    right: -12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

    visibility: hidden;
    opacity: 0;
}

.submenu li {
    padding: 10px;

}




.submenu li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.servicio li:hover .submenu{
    
    visibility: visible;
    opacity: 1;
    transition: all .5s;
}


 h1 {
    text-align: initial;
    font-size: 50px;
    color: #000000;
    text-shadow: 2px 2px 2px  rgb(190, 127, 127);
    margin: 0px 0  18px 0 ;
    
}

.busqueda{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 450px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    top: -20px;
    position: relative;

}


.Barra {
    outline: none;
    box-sizing: border-box;
    height: 50px;
    width: 330px;
    padding: 0 20px;
    color: #000;
    border-radius: 40px;
    font-size: 20px;
    border: 1px solid #383838;
    transition: all .7s ease;
}

::placeholder {
    color: #383838;
}

.BTN {
    position: relative;
    right: 46px;
    top: -2px;
    width: 70px;
    height: 70px;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    line-height: 70px;
    border-radius: 70px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.BTN i {
    font-size: 25px;
    line-height: 70px;
    transition: all .7s ease;
}

.busqueda:hover input {
    width: 330px;
}

.busqueda:hover i {
    transform: rotate(-360deg);
}

.BTN:hover {
    background: linear-gradient(150deg, #E74C3C, #3498DB);
}



.inconoCarrito {
    position: absolute;
    right: 165px;
    top: 65px;
    margin: 10px;
}

.compra {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.inconoCarrito :hover{
    scale: 1.09;
    background: rgb(14, 233, 69);
}


.inconoMensaje {
    position: absolute;
    right: 85px;
    top: 65px;
    margin: 10px;
}
.btn_mensaje {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.btn_mensaje:hover {
    scale: 1.09;
    background: rgb(14, 233, 69);
}

.perfiles {
    position: absolute;
    right: 5px;
    top: 65px;
    margin: 10px;
}

.btn_perfil {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
}

.btn_perfil:hover {
    scale: 1.09;
    background: rgb(14, 233, 69);
}

.contenedor_perfil{
    position: absolute;
    margin: 10px;
    top: 190px;
    width: 400px;
    border: 1px solid #666;
    border-radius: 10px;
    margin-bottom: auto;
    z-index: 1;
    visibility: hidden;
    opacity: 0;  
    transition: all .5s;
}

.heder_perfil{
    text-align: center;
    font-size: 25px;
    border: 1px solid #666;
    color: #fff;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    margin: 0;
    padding: 10px 0;
    border-radius: 11px 11px 0 0  ;
    
}

.perfil{
    margin: 0;
}

.carrar_perfil{
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 40px;
    border: 0;
    background: transparent;
    cursor: pointer;

}

.informacion{
    background: #fff;display: flex;
    justify-content: center;
    flex-direction: column;
}
.foto_perfil{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.foto img{
    border-radius: 50%;
    border-bottom: 1px  solid  rgb(14, 233, 69);
    box-shadow: 2px 2px #66666664;
    transition: all .3s;
}

.nombre{
    text-shadow: 2px 1px #38383871;
    font-size: 25px;
    text-align: center;
    margin: 0 0 40px 0;

}

.numero_centa{
    height: 50px;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 1px #66666664 ;
    border-bottom: 1px solid #666;
}

.datos{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn_datos{
    width: 290px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    text-shadow: 2px 1px #66666664 ;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    color: #fff;
    
}

.btn_datos:hover{
    scale: 1.09;
    background: rgb(14, 233, 69);
    transition: all .3s;
}

.cerrar_sesion{
    margin: 15px;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: 0;
    text-shadow: 2px 1px #66666664 ;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cerrar_sesion:hover{
    scale: 1.09;
    background: rgb(14, 233, 69);
    transition: all .3s;
}

.contenedor  {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 190px;

}

.contenedor .contenedor_itens {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px ;
    width:400%;
    transition: .3s;
}

.contenedor .contenedor_itens .itens {
    max-width: 220px;
    padding: 10px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    
}

.contenedor_itens .itens:hover {
    box-shadow: 0 0 30px #666;
    
}

.contenedor_itens .itens img {
    width: 100%;
    height: 200px;
}

.contenedor_itens .itens .titulo_itens {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor_itens .itens .precio_itens {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor_itens .itens .boton_itens {
    display: block;
    width: 200px;
    margin: 10px auto;
    border: none;
    background: rgb(14, 233, 69);
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
}

.contenedor_itens .itens .boton_itens:hover {
    box-shadow: 0 0 10px #666;
    background: rgba(255, 0, 0, 0.63);
}

/* SECCION DE CARRITO DE COMPRAS */
.carrito_compras{

    border: 1px solid #666;
    width: 400px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 145px;
    transition: .5s;
    opacity: 0;
    visibility: hidden; 
    z-index: 1;
    
}


.carrito_compras .heder_compras {
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito_compras .carrito_iten{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
    background: #fff;
}

.carrito_compras .carrito_iten img {
    margin-right: 20px;

}

.carrito_compras .carrito_iten .carrito_titulo {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.carrito_compras .carrito_iten .selector_cantidad {
    display: inline-block;
    margin-right: 25px;

}

.carrito_itens_cantidad {
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito_compras .carrito_iten .selector_cantidad i {
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}


.crrito_compras .carrito_iten .carrito_itens_precio {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.carrito_compras .carrito_iten .btn_eliminar {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    
}


.carrito_compras .carrito_iten .btn_eliminar i {
    pointer-events: none;
}

.carrito_total {
    background: #f3f3ff;
    padding: 30px;
    
}

.carrito_total .fila {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito_total .btn_pagar {
    display: block;
    width: 100%;
    border: none;
    background:  rgb(14, 233, 69);
    color: #fff;
    border-radius: 10px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito_total .btn_pagar:hover {
    scale: 1.05;
    box-shadow: 0 0 10px #666;
}

.carrar_carrito  {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 40px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.carrar_carrito:hover{
    scale: 1.09;
    background: #38383885;
}

.carrar_mensaje {
    width: 40px;
    height: 40px;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 40px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.carrar_mensaje:hover{
    scale: 1.09;
    background: #38383885;
}

.contenedor_mensajes {
    width: 300px;
    border: 1px solid #666;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: absolute;
    top: 200px;
    transition: .3s;
    visibility: none; 
    opacity: 0; 
    contain: paint;
    margin-left: 15px;
    background: #fff;
    transition: all .6s;
}

.contenedor_mensajes .heder_mensajes {
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    color: #fff;
    text-align: center;
    padding: 1px ;
}


.contenedor_mensajes .mensaje_itens{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 240px;
}

.contenedor_mensajes .mensaje_itens input {
    outline: none;
    top: 372px;
    box-sizing: border-box;
    height: 40px;
    width: 87%;
    padding: 10px;
    color: #000;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #383838;
    transition: all .7s ease;
    display: flex;
    align-items: center;
    

}



.contenedor_mensajes .mensaje_itens .enviar {
    position: absolute;
    
    left: 88%;
    width: 40px;
    
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    line-height: 40px;
    border-radius: 70px;
    text-align: center;
    cursor: pointer;
    transition: .5s;

}

.fijo{
    position: fixed;
    background: url('./img/Screenshot_6.png');
    width: 100%; 
    background-size: cover;
    background-position: center;
}

.fijo.active{
    transition: all .5s;
}

/* SECCION RESPONSIVE */
/* @media screen and (max-width: 900px) {
  .contenedor {
    display: block;

  } 
  .contenedor_itens {
    width: 100% !important;
  } 
  .crrito_compras {
    width: 100%;
  }
  .Barra {
    width: 250px;
  }

  .busqueda:hover input {
    width: 290px ;
  }

  .contenedor_mensajes .mensaje_itens input {
    top: 372px;
  }

  .contenedor_mensajes .mensaje_itens .enviar {
    position: absolute;
    top: 89%;
    left: 87;
}

} */

@media (max-width: 700px ) {

    .jiji{
        font-size: 30px;
    }

    .busqueda {
        width: 390px;
        display: flex;
        justify-content: center;
        
    }

    .Barra {
        height: 40px;
    }

    .BTN {
        top: -2px;
        width: 60px;
        height: 60px;
    }
    
    .BTN i {
        font-size: 25px;
        line-height: 60px;
    }
    
    .inconoCarrito {
        top: 120px;
        right: 143px;
    }

    .compra {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .inconoMensaje {
        top: 120px;
        right: 73px;
    }

    .btn_mensaje {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .perfiles{
        top: 120px;
        right: 1px;
    
    }

    .btn_perfil{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .configuracion{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .contenedor  {
        
        position: static;
        
    
    }

    .contenedor .contenedor_itens {
        height: 300px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        
    }

    .contenedor .contenedor_itens .itens {
        width: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .contenedor_itens::-webkit-scrollbar{
        width: 7px;
    }

    .contenedor_itens::-webkit-scrollbar-thumb{
        background:  rgb(14, 233, 69);
        border-radius: 10px;
        height: 7px;
    }

    


    .contenedor_itens .itens .precio_itens {
        font-size: 16px;
    }

    .contenedor .contenedor_itens .itens img {
        width: 100px;
        height: 100px;
    }

    .crrito_compras {
       
        position: absolute ;
        width: 330px;
        
    
    }
    .contenedor_mensajes {
        position: absolute;
        width: 330px;

    }

    .espacio {
        height: 0;
    }

    .navegacion{

        width: 270px;
        height: 35px;
        margin: 0;
    }

    .servicio li a{
        padding: 3px;
     
    }
    .servicio{
        margin: 0;
        padding: 0;
    }

}