#productos_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    transition: all .5s;
    margin-bottom: 15px;
}

.targeta-producto{
    max-width: 200px;
    text-align: center;
    background: linear-gradient(150deg, #E74C3C, #3498DB);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    transition: all .5s;

}
.targeta-producto:hover{
    scale: 1.1;
    transition: all .5s;
}

.targeta-producto img{
    width: 100%;
    aspect-ratio: 1.0;

}

h3, p {
    margin: 5px 0;
}

@media (max-width: 760px){

    .targeta-producto{
        max-width: 100px;
    }
   
}
