:root{
    --color-acento: rgb(255, 208, 0);
    --color-acento-claro: rgb(255, 0, 0);
    --color-texto: black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    box-shadow: 0 2px 6px black;
    padding: 5px 0 ;
    margin-bottom: 10px;
}

#Logo_header{
    width: 70px;
}

a{
    text-decoration: none;
    color: var(--color-texto);
}
a:hover:not(#cart){
    color: var(--color-acento);
}

header nav img{
  width: 40px;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20px ;
}

header nav div{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

#cuenta_carrito{
    background-color: var(--color-acento);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
}

footer{
    text-align: end;
    box-shadow: 0 -2px 6px black;
    margin-top: auto;
    margin-bottom: 5px;
    /* margin-top: 20px; */
}

#totales{
    margin: 20px;
}

h3, p {
    margin: 5px 0;
}

button{
    background: rgb(14, 233, 69);
    border: none;
    border-radius: 5px;
    /* width: 180px; */
    height: 30px;
    color: white;
    cursor: pointer;
}

button:hover{
    background: rgba(255, 0, 0, 0.822);
    scale: 1.2;
    transition: all 200ms;
}

.escondido {
    display: none;
}

@media (max-width: 760px){

    header{
        margin-bottom: 10px;
    }
    header nav{
        margin: 0;
        display: flex;
    }
    header nav img{
        width: 30px;
    }

    h2{
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    #Logo_header{
        width: 40px;
    }
}